// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.navbar{
    background-color: black;
    button{
        border-color: $brand-color !important;
        outline-color: $brand-color !important;
        color:  $brand-color !important;
        border: 1px solid $brand-color !important;
        font-size: 3em;

    }
 
    a.nav-link{
        color: $brand-color !important;
        transition: all 1s ease-in-out;
        font-size: 2.5em;
        margin: 5px 35px;
     }
    a.nav-link:hover{
        color:$white !important;
     }
     
    
}

  
  

